@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-primary: #2290FF;
  --color-secondary: #42A1FF;
  --color-tertiary: #66B4FF;
  --color-quaternary: #8AC5FF;
  --color-quinary: #ADD7FF;
  --color-dark: #2E2E2E;
}


* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}

body {  
  font-family: "Roboto", serif, "Roboto Slab", serif, "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to left, var(--color-quinary), var(--color-secondary));
}





