@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  position: relative;
  font-family: "Roboto", serif, "Roboto Slab", serif, "Roboto Condensed", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track{
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


:root {
  --color-primary: #2290FF;
  --color-secondary: #42A1FF;
  --color-tertiary: #66B4FF;
  --color-quaternary: #8AC5FF;
  --color-quinary: #ADD7FF;
  --color-dark: #2E2E2E;
}


