.Dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  width: 100%;
}

.row {
  display: flex;
  gap: 20px; /* Adjust the gap between rectangles as needed */
}

.rectangle {
  background-color: var(--color-primary); /* Adjust the background color as needed */
  border-radius: 10px; /* Adjust the border radius as needed */
}

.rectangle.large {
  flex: 1;
  height: 200px; /* Adjust the height as needed */
}

.rectangle.small {
  flex: 1;
  height: 150px; /* Adjust the height as needed */
}