.main-layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.main-content {
  flex: 1; /* Em vez de width: 100%, usa flex: 1 para ocupar apenas o espaço disponível */
  display: flex;
  flex-direction: column;
}

.content-area {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
  overflow: auto;
}
