.Sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  background: var(--color-secondary);
  padding: 0;
  font-size: 30px;
  z-index: 1001;
  transition: width 0.3s ease;
}

.Logo {
  width: 70%;
  padding: 20px 0 0 0;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.Logo .logo {
  width: 70%;
  height: auto;
}

.SidebarList {
  height: auto;
  width: 100%;
  padding: 0;    
}

.SidebarList .row {
  width: 100%;
  height: 100px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: var(--color-primary);
}

.SidebarList #active {
  background-color: var(--color-primary);  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;  
}

.row #title {
  flex: 70%;
}

/* Responsive styles */
@media (max-width: 768px) {
  .Sidebar {
      width: 250px;
  }

  .SidebarList .row {
      height: 80px;
  }

  .row #icon {
      flex: 20%;
  }

  .row #title {
      flex: 80%;
  }
}

@media (max-width: 480px) {
  .Sidebar {
      width: 200px;
  }

  .SidebarList .row {
      height: 60px;
  }

  .row #icon {
      flex: 25%;
  }

  .row #title {
      flex: 75%;
  }
}